.header{
    background: linear-gradient(to right, #ff0099, #493240);
    grid-area: h;
}
.title{
    color: #fff;
    display: flex;
    justify-content: space-between;

}
.header img{

    display: flex;
    width: 130px;
    height: 60px;
    object-fit: contain;
    mix-blend-mode: darken;
    justify-content: flex-start;
}



ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;

}
.title ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px;

}
.title ul li a.active {
    color: yellowgreen;
}
.siteName {
padding-left: 80px;
}

