* {
    font-family: 'Montserrat', 'sans-serif';
}
html {

}

body {
    background-color: #E5E5E5;
    }
main{
    background: white;
}
.app-wrapper{
    display: grid;
    width: 100%;
    grid-template-areas:
    "h h h h"
    "s s s s"
    "a c c n"
    "f f f f";
    grid-template-rows: 2% 1% 4fr 5%;
    grid-template-columns: 20% 30% 30% 20%;
    /*grid-gap: 1px; */
}







