<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>
    <link rel="stylesheet" href="slider.css">
</head>
<body>
    <h1>Animal Slider</h1>
    <div class="flex-wrapper">
        <div class="slider-wrapper">
            <div class="slider active">
                <img src="img_1.jpg" alt="">
            </div>
            <div class="slider">
                <img src="img_2.jpg" alt="">
            </div>
            <div class="slider">
                <img src="img_3.jpg" alt="">
            </div>
            <div class="slider">
                <img src="img_4.jpg" alt="">
            </div>
            <div class="slider">
                <img src="img_5.jpg" alt="">
            </div>
            <div id="btn-prev">PREV</div>
            <div id="btn-next">NEXT</div>
        </div>
    </div>
    <div class="dots-wrapper">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <script src="slider.js"></script>
</body>
</html>